apiVersion: v1
kind: Service
metadata:
  labels:
    app: aiot
  name: aiot
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: aiot
  type: ClusterIP
