apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: haivivi-test
#commonLabels:
#  cluster: prod-asia
#  env: prod

resources:                 # ← 决定“发哪些”
  - ../../../base/haivivi-test/test-project

#components:                # ← 插上“公共补丁”
#  - ../../../components/cn-stage/

images:
  - name: libiary/nginx:latest
    newTag: 1.25.5

patches:                   # ← 本组本环境特殊补丁
  - path: patches/syw-test-replica.yaml
#  - path: patches/syw-test-image.yaml
  - path: patches/syw-test-env.yaml