apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# kustomization中不用定义ns，直接使用argocd的
#namespace: haivivi-test

# 统一前缀
# 这里会影响sealed-secret资源
#namePrefix: cn-stage-

# 资源列表
resources:
  - secrets/sealed-secret.yaml
  - ../../../base/haivivi-test/common
  - ../../../base/haivivi-test/test-project

# 公共补丁
#components:
#  - ../../../components/cn-stage/
#generatorOptions:
#  disableNameSuffixHash: true

# 需要把secret单独成一个目录，这样方便kustomize只生成secret，给kubeseal使用
#secretGenerator:
#  - name: env-secret
#    envs:
#      - patches/env-secret.txt
#    type: Opaque
#  - name: env-secret-file
#    envs:
#      - patches/env-secret-file.txt
#    type: Opaque

# 标签
labels:
  - pairs:
      env: stage-k
      region: cn-k
      az: shanghai-k
    # 是否更改pod的标签。metadata/labels and spec/template/metadata/labels
    includeTemplates: true
    # 是否更改selector的标签。metadata/labels, selectors, and spec/template/metadata/labels.
    includeSelectors: false


# 镜像版本
images:
  - name: cn-haivivi-cn-shanghai.cr.volces.com/libiary/nginx
    newTag: 1.25.5
#    newTag: "1.26"
#    newTag: latest

# 特殊补丁
patches:
  - path: patches/syw-test-deploy.yaml