apiVersion: v1
kind: Service
metadata:
  labels:
    app: portal-web
  name: portal-web

spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: portal-web
  type: ClusterIP
