apiVersion: v1
kind: Service
metadata:
  labels:
    app: push
  name: push
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: push
  type: ClusterIP