apiVersion: v1
kind: Service
metadata:
  labels:
    app: admin-web
  name: admin-web
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: admin-web
  type: ClusterIP