apiVersion: v1
kind: Service
metadata:
  labels:
    app: palgear
  name: palgear
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: palgear
  sessionAffinity: None
  type: ClusterIP

