apiVersion: v1
kind: Service
metadata:
  labels:
    app: pms
  name: pms
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: pms
  type: ClusterIP

