apiVersion: v1
kind: Service
metadata:
  labels:
    app: palapp
  name: palapp
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: palapp
  type: ClusterIP

