apiVersion: v1
kind: Service
metadata:
  labels:
    app: portal
  name: portal
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: portal
  type: ClusterIP
