apiVersion: v1
kind: Service
metadata:
  labels:
    app: bull-board
  name: bull-board
  namespace: haivivi-cn
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: bull-board
  type: ClusterIP

